graphic-diptych {
  display: block;
}

graphic-diptych {
  display: flex;
  flex-direction: row;
  align-items: center;
}

graphic-diptych picture {
  max-width: 400px;
}

graphic-diptych text-content {
  display: block;
  position: relative;
  max-width: 74ch;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

@media (min-width: 600px) {
}
