/* SETTINGS  ("variables" in our case) */
html {
  --black: #111111;
  --white: #ffffff;

  --color: #a69b6e;
  --highlight: #f2f2f2;
  --accent: #d1d1d1;
  --light-accent: #f6f6f6;
  --dark-accent: #6b6b6b;

  --couple-accent: #f7f7f7;
}

/* you can make more! */

/* USAGE */

.thingy {
  color: var(--highlight); /* used as variable */
}
