.masthead {
  padding: 70px 0;
  background-color: #000;
  box-shadow: 0 1px 20px #000;
  border-bottom: 1px solid #8a8a8a;
  color: #ffffff;

  .inner-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .quiet-voice {
    font-weight: 400;
  }

  .title-voice {
    font-size: clamp(35px, 1rem + 7vw, 64px);
  }
  


}
