@import "styles/meyer-reset.css";
@import "styles/setup.css";
@import "styles/structure.css";
@import "styles/typography.css";

:root {
  --color-primary: #3da9fc;
  --color-primary-dark: #048cf5;
  --color-primary-darker: #094067;

  --color-primary-light: #d8eefe;

  --color-gray: #5f6c7b;
  --color-light-gray: #97aab7;
  --color-lighter-gray: #f8f8f8;
}

main {
  overflow-x: hidden;
}

@media (min-width: 0px) {
  .site-header {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  }
  .masthead {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .site-menu ul {
    display: flex;
    gap: 10px;
  }

  .site-link {
    padding: 10px;
  }
  .logo {
    max-width: 80px;
  }

  .benefits {
    position: relative;
    padding-top: 0;
    margin-top: -177px;
    z-index: 2;
  }

  .benefit-image {
    display: flex;
    background-color: var(--color-primary);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  .benefit-image img {
    max-width: 60px;
  }

  .benefit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 350px;
  }

  .benefits-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    border-top: 5px solid var(--color-primary);
    border-radius: 4px;
    padding: 48px 40px;
    box-shadow: 0 20px 40px #0000000d;
    background-color: #ffffff;
  }

  .service-details li {
    position: relative;
    list-style-type: none;
    padding-left: 28px;
  }
  .service-details li::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("images/check.svg");
    background-size: cover;
    height: 18px;
    width: 18px;
    left: 0;
    top: 3px;
  }

  .service-image {
    position: relative;
    max-width: 550px;
  }

  .service-image::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    z-index: -1;
    left: 50px;
    top: 50px;
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .service.reverse {
    flex-direction: column;
  }

  .service.reverse .service-image::before {
    left: -50px;
  }

  .portrait {
    position: relative;
    max-width: 96px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -68px;
  }

  .portrait::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3da9fc;
    opacity: 0.3;
  }

  .testimonials {
    background-color: var(--color-lighter-gray);
  }

  .testimonials .inner-column {
    max-width: 1250px;
  }

  .testimonial-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 80px 40px;
    justify-items: center;
  }

  .testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* breaks grid 
    max-width: 400px;
    */
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fffffe;

    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }

  .testimonial-card p {
    line-height: 1.7;
  }
  .stars {
    max-width: 60px;
  }

  .site-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }

  .footer-logo picture {
    max-width: 200px;
  }

  .site-footer .footer-logo p {
    max-width: 36ch;
  }

  .site-map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
  }

  .site-map h2 {
    position: relative;
  }

  .site-map h2::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 30%;
    border-bottom: 1px solid var(--color-light-gray);
  }

  footer {
  }

  footer .site-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  footer .site-menu ul {
    display: flex;
    flex-direction: column;
  }

  footer .site-menu ul a {
    padding-left: 0;
  }

  footer .site-menu ul a:nth-of-type(1) {
    padding-top: 0px;
  }

  .address {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .address-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .address p span {
    display: block;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  footer .site-map picture {
    max-width: 15px;
    margin-top: 5px;
  }

  .site-map .contact-phone,
  .site-map .contact-email {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

@media (min-width: 1000px) {
  .benefits-list {
    flex-direction: row;
    align-items: stretch;
  }
  .service {
    flex-direction: row;
  }

  .service.reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

@media (min-width: 900px) {
  .site-footer {
    flex-direction: row;
  }

  .site-map {
    width: 700px;
  }
}

@media (min-width: 575px) {
  .site-map {
    flex-direction: row;
    gap: 0px;
  }
  .site-map h2::after {
    width: 100%;
  }
}

@media (min-width: 370px) {
  .masthead {
    flex-direction: row;
    justify-content: space-between;
  }
}

.landing .stern-voice {
  color: #ffffff;
  text-shadow: 0px 0.5px #000;
}

.landing::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.35;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/landingv3-flipped.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  padding: 200px 0px 367px 0px;
}

.landing h2 {
  max-width: 53ch;
}

.service-card picture {
  background-size: cover;
  background-position: center;
  height: 0;
  padding-bottom: 60%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-one {
  background-image: url(https://i.imgur.com/a7fGZb8.jpg);
}

.card-two {
  background-image: url(https://i.imgur.com/Um48lkk.jpg);
}

.card-three {
  background-image: url(https://i.imgur.com/nfCQuI8.jpg);
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-card {
  background-color: #fffffe;
  border-radius: 5px;
  width: 300px;

  box-shadow: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.service-card-text {
  padding: 20px;
}

.call-now {
  position: relative;
  background-color: var(--color-primary);
  background-image: url("images/call-now/call-now.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  color: #ffffff;
}

.call-now::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.55;
  top: 0;
  left: 0;
  z-index: -1;
}

.highlight {
  color: var(--color-primary);
}

.button-solid {
  display: inline-block;
  background-color: var(--color-primary);
  color: #ffffff;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.button-solid:hover {
  background-color: var(--color-primary-dark);
}

.button-solid-big {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.025em;
  background-color: var(--color-primary);
  color: #ffffff;
  padding: 16px 40px;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.button-solid-big:hover {
  background-color: var(--color-primary-dark);
}

.call-now .inner-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.call-now .loud-voice + .regular-voice {
  margin-top: 0px;
}

.site-menu a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
