/* RESET */
@import "meyer-reset.css";
@import "setup.css";

/* @import 'developer-styles.css';  */
/* comment this ^ out - when you are ready */

/* SETTINGS */
@import "settings.css"; /* variables/ etc */

/* STRUCTURE */
@import "structure.css";

/* TYPOGRAPHY */
@import "typography.css";

/* COMPONENTS */
@import "components.css";

/* MODULES */
@import "modules/masthead.css";
@import "modules/graphic-diptych.css";
@import "modules/call-to-action.css";
@import "modules/articles-intro.css";
@import "modules/article-card.css";
@import "modules/site-map.css";
/* should everything/nothing be in it's own file? */

html {
  background-color: var(--white);
}

/*
	This the area where you work out your styles 
	If it makes sense, you can break these out into their own files.
*/

/* SITE SECTIONS */
.site-header {
  /*background-color: #9ec9eb;*/
  position: sticky;
  top: 0;
  background-color: var(--white);
  color: var(--black);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 10;
  /* box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.4); */
}

/* just to show the full-width and section seperation */
/* section:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
} */

/* OK! SITE STYLES! */

/* things kinda just start grouping up... and you'll know when something should be grouped into another file - most of the time */

.get-involved {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
} /* interesting way to include the whole image in your CSS */

.get-involved::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  top: 0;
}

.couple .get-involved::before {
  width: 0px;
  height: 0px;
  background-color: transparent;
}

.help-us {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
}

.help-us::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.couple .help-us::before {
  width: 0%;
  height: 0%;
  background-color: transparent;
}

.site-footer {
  background-color: var(--light-accent);
}

.footer-header {
  color: var(--black);
}

nav {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.couple .site-footer {
  background-color: var(--black);
}

.couple .footer-header {
  color: var(--white);
}

.couple .site-header .site-menu {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
}
