.inner-column {
  max-width: 1300px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 1000px) {
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.call-now {
  padding-top: 80px;
  padding-bottom: 80px;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  padding-top: 150px;
  padding-bottom: 150px;
}

.service-card li + li {
  margin-top: 10px;
}

.service-card + .service-card {
  margin-top: 20px;
}

.service-details li + li {
  margin-top: 16px;
}

.regular-voice + .service {
  margin-top: 72px;
}

.service + .service {
  margin-top: 160px;
}

.service-description,
.service-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.service-details {
  align-items: flex-start;
}

.loud-voice + .regular-voice {
  margin-top: 24px;
}

.regular-voice + .testimonial-list {
  margin-top: 100px;
}

.testimonial-card .portrait + p,
p + .bottom-card {
  margin-top: 20px;
}

.stars + p {
  margin-top: 4px;
}

.contact-phone + .contact-email {
  margin-top: 20px;
}

.footer-logo picture + p {
  margin-top: 20px;
}

.footer-logo {
  margin-top: -72px;
}

.landing .title-voice + .stern-voice,
.landing .stern-voice + .button-solid-big {
  margin-top: 28px;
}
