@import "meyer-reset.css";
@import "setup.css";

.masthead picture {
  max-width: 100px;
}

nav a.active {
  background-color: #ff757c88;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.field + .field {
  margin-top: 20px;
}

.field + .submit-button {
  margin-top: 20px;
}

.field :is(label, input) {
  display: block;
}

.project-card picture {
  max-width: 240px;
}

.inner-column {
  max-width: 900px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.inner-column p {
  max-width: 60ch;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

nav {
  display: flex;
}

nav a {
  padding: 10px;
  text-decoration: underline;
}

ul li {
  max-width: 35ch;
}

.extra-information {
  display: flex;
  flex-direction: column;
}

.projects {
  background-color: #e4e7e6;
}

.project-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card p {
  max-width: 35ch;
}

.project-card a {
  text-decoration: underline;
}

.action-link {
  text-decoration: underline;
}

.page-header {
  padding: 20px 0px;
  background-color: #000000;
  color: #e2e2e2;
}

.my-work-cards {
  display: flex;
  flex-direction: column;
}

@media (min-width: 620px) {
  .extra-information {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-cards {
    flex-direction: row;
  }

  .my-work-cards {
    flex-direction: row;
  }
}
