.masthead {
  .site-menu {
    margin-top: 30px;
    .item-list {
      @include regular-voice();
      display: flex;
      gap: 10px;

      .item {
        padding: 4px 16px;
        &:hover {
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }
    }
  }
}