@import "meyer-reset.css";
@import "setup.css";
@import "typography.css";
@import "structure.css";

/* .about-me-landing {
  background: linear-gradient(145deg, rgba(0, 16, 153, 0.2) 0, rgba(58, 217, 255, 0.2) 96%);
}

body {
  background: black;
} */

/* $todo 
Temporary color styles to try and show heierarchy.
These will be css variables eventually */
.project-card p {
  color: #5f666a;
}

.project-card .description-voice {
  color: #33383b;
}

.masthead .logo {
  max-width: 70px;
}

ul {
  list-style-type: square;
  padding-inline-start: 20px;
  line-height: 1.5;
}

ul li {
  margin-top: 5px;
}

.site-menu .active {
  background-color: #acacac88;
}

.site-menu .site-link span {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: left bottom 0px;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: 0.25s ease-in-out;
}

.site-menu .site-link:hover span {
  background-size: 100% 1px;
  transition: 0.25s ease-in-out;
}

.education {
  position: relative;
  z-index: 1;
}

.about-me-landing {
  overflow: hidden;
}

.field + .field {
  margin-top: 20px;
}

.field + .submit-button {
  margin-top: 20px;
}

.field :is(label, input) {
  display: block;
}

.project-card picture {
  max-width: 240px;
}

.inner-column p {
  max-width: 60ch;
}

.masthead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.site-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.site-menu .site-link {
  padding: 10px;
  text-decoration: none;
}

ul li {
  max-width: 35ch;
}

.extra-information {
  display: flex;
  flex-direction: column;
}

.projects {
  background-color: #e4e7e6;
}

.project-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.my-work-project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card {
  width: 100%;
}

/* $todo -- add a hover effect on the card when user hovers. Shows clickability. */

.project-picture {
  transition: 0.25s ease-in-out;
}

.project-card-link:hover .project-picture {
  transform: scale(1.03);
  transition: 0.25s ease-in-out;
}

.project-card-link:hover .project-card .project-card-text .project-picture {
  transform: scale(1.03);
  transition: 0.25s ease-in-out;
}

.project-card .stern-voice span {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: left bottom 2px;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: 0.25s ease-in-out;
}

.project-card-link:hover .stern-voice span {
  background-size: 100% 1px;
  transition: 0.25s ease-in-out;
}

/* $note -- might not need, depends on how deep flex parent / child is */
/* .project-card {
  width: 100%;
} */

.project-card p {
  max-width: 30ch;
}

.writing-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 50px;
}

.writing-card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.action-link {
  text-decoration: underline;
}

.page-header {
  background-color: #000000;
  color: #e2e2e2;
}

.my-work-cards {
  display: flex;
  flex-direction: column;
}

.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.footer-text h3 + p {
  margin-top: 15px;
}

.footer-links a {
  text-decoration: underline;
  line-height: 1.5;
}

.footer-links a:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.15s ease-in-out;
  text-decoration: none;
}

.footer-links {
  display: flex;

  gap: 15px;
  margin-top: auto;
}

@media (min-width: 620px) {
  .masthead {
    flex-direction: row;
  }

  .education::after {
    content: "";
    position: absolute;
    width: 115%;
    height: 190%;
    background-color: rgb(245, 245, 245);
    top: -20px;
    left: -20px;
    z-index: -1;
  }

  .extra-information {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-cards {
    flex-direction: row;
  }

  .my-work-cards {
    flex-direction: row;
  }

  .what-i-want + .education {
    margin-top: 0px;
    margin-left: 30px;
  }

  .site-footer {
    flex-direction: row;
  }
}
