@import "meyer-reset.css";
@import "setup.css";
@import "typography.css";
@import "structure.css";

.masthead picture {
  max-width: 100px;
}

ul {
  list-style-type: square;
  padding-inline-start: 20px;
  line-height: 1.5;
}

ul li {
  margin-top: 5px;
}

nav a.active {
  background-color: #ff757c88;
}

.education {
  position: relative;
  z-index: 1;
}

.about-me-landing {
  overflow: hidden;
}

.field + .field {
  margin-top: 20px;
}

.field + .submit-button {
  margin-top: 20px;
}

.field :is(label, input) {
  display: block;
}

.project-card picture {
  max-width: 240px;
}

.inner-column p {
  max-width: 60ch;
}

.masthead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

nav {
  display: flex;
}

nav a {
  padding: 10px;
  text-decoration: underline;
}

ul li {
  max-width: 35ch;
}

.extra-information {
  display: flex;
  flex-direction: column;
}

.projects {
  background-color: #e4e7e6;
}

.project-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.my-work-project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* $todo -- add a hover effect on the card when user hovers. Shows clickability. */

.project-picture {
  transition: 0.25s ease-in-out;
}

.project-card-link:hover .project-picture {
  transform: scale(1.03);
  transition: 0.25s ease-in-out;
}

/* $note -- might not need, depends on how deep flex parent / child is */
/* .project-card {
  width: 100%;
} */

.project-card p {
  max-width: 35ch;
}

.action-link {
  text-decoration: underline;
}

.page-header {
  padding: 20px 0px;
  background-color: #000000;
  color: #e2e2e2;
}

.my-work-cards {
  display: flex;
  flex-direction: column;
}

@media (min-width: 620px) {
  .masthead {
    flex-direction: row;
  }

  .education::after {
    content: "";
    position: absolute;
    width: 115%;
    height: 190%;
    background-color: wheat;
    top: -20px;
    left: -20px;
    z-index: -1;
  }

  .extra-information {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-cards {
    flex-direction: row;
  }

  .my-work-cards {
    flex-direction: row;
  }

  .what-i-want + .education {
    margin-top: 0px;
    margin-left: 30px;
  }
}
