@import "css/_meyer-reset";
@import "css/_setup";
@import "css/_structure";
@import "css/_typography";

body {
  background-image: url("https://peprojects.dev/alpha-2/images/noise.webp");
  background-repeat: repeat;
}

label {
  display: block;
}

input,
textarea,
button {
  font-family: monospace;
  font-size: 16px;
}

textarea {
  width: 95%;
  max-width: 520px;
}

input {
  width: 95%;
  max-width: 225px;
}

.masthead {
  display: flex;
  align-items: center;
  gap: 30px;
}

.site-menu {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: black;
  color: white;

  gap: 15px;
  margin: 10px 0;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

// .site-menu a:hover {
//   text-decoration: underline;
// }

.site-header {
  border-top: 10px solid #111;
  border-bottom: 10px solid #111;
}

footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

form input,
form textarea {
  padding: 8px 12px;
}

form label {
  font-weight: 500;
  line-height: 1.1;
}

.comments-list li > * {
  line-height: 1.1;
}

span.comment {
  line-height: 1.5;
}

.name {
  font-size: 12px;
  font-weight: 700;
}

.posted {
  color: #828282;
}

.comment-details {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.edit-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #828282;
}

.edit-details span:hover {
  text-decoration: underline;
}

.edit {
  position: relative;
}

.edit::before {
  content: "|";
  position: absolute;
  left: -8px;
}

.display-comments {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23252525' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.comment-group {
  background-color: #ffffff;
  max-width: 64ch;
  padding: 12px 16px;
  border: 1px solid #252525;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

footer {
  color: #ffffff;
  background-color: #000000;
}

.new {
  border: 2px solid red;
}

// theme

body[data-theme="old-reddit"] {
  background-image: none;
  background-color: #ffffff;

  .site-header {
    border-top: none;
    border-bottom: none;
    background-color: #cee3f8;
    border-bottom: 1px solid #5f99cf;
  }
  .masthead {
    position: relative;
    .loud-voice {
      position: absolute;
      top: -5px;
      left: 0;
      font-size: 24px;
    }

    .site-menu {
      flex-direction: row;
      margin: 0;
      padding: 0;
      background-color: transparent;
      margin-left: 220px;

      a {
        padding: 2px 6px 2px 6px;
        background-color: #eff7ff;
        color: #369;
        font-weight: 700;
      }
    }
  }

  .display-comments {
    background-image: none;
  }

  .comment {
    font-size: 14px;
  }

  .comment-group {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    box-shadow: none;

    &:nth-child(even) {
      background-color: rgb(247, 247, 248);
    }
  }

  .comments-list li + li {
    margin-top: 8px;
  }

  .comments-list li > ul {
    margin-top: 5px;
  }

  .comment-details {
    .name {
      font-family: Verdana;
      font-size: 10px;
      color: #336699;
    }

    .posted {
      font-family: Verdana;
      font-size: 10px;
    }

    span + span {
      margin-left: 5px;
    }
  }

  .comment-edit {
    .edit-details {
      color: #888888;
      font-weight: 700;

      text-transform: lowercase;

      span + span {
        margin-left: 8px;
      }
    }

    .posted {
      color: #888;
    }
  }

  .edit::before {
    content: "";
    position: relative;
    left: 0;
  }
}

body[data-theme="new-reddit"] {
  background-image: none;
  background-color: #ffffff;

  main {
    background-color: #dae0e6;
  }

  .form,
  .display-comments {
    background-color: #ffffff;
    border-left: 1px solid #edeff1;
    border-right: 1px solid #edeff1;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
  }

  .site-header {
    position: sticky;
    top: 0;
    border-top: none;
    border-bottom: 1px solid #edeff1;
    background-color: #ffffff;

    z-index: 10;
  }
  .masthead {
    .loud-voice {
      position: relative;
      font-size: 20px;
      margin-left: 60px;
    }
    .loud-voice::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      left: -60px;
      top: -15px;
      background-color: #000000;
      border-radius: 50%;
    }

    .site-menu {
      flex-direction: row;
      background-color: transparent;
      color: #000000;
    }
  }

  .form {
    padding-top: 60px;
    margin-top: 124px;
  }

  .form {
    border-radius: 4px;
    padding-left: 38px;
  }

  form label {
    font-size: 12px;
    font-weight: 400;
    color: #1c1c1c;
  }

  form button {
    color: #ffffff;
    font-family: "IBM Plex Sans";
    font-weight: 700;
    font-size: 12px;
    background-color: #0079d3;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 50px;
    border: transparent;
  }

  .display-comments {
    background-image: none;
    padding-bottom: 15px;
    margin-bottom: 50px;
    border-radius: 4px;

    .comments-list {
      li + li {
        margin-top: 16px;
      }
    }

    .comment-group {
      position: relative;
      border: none;
      box-shadow: none;
      padding-left: 28px;
      margin-left: 8px;
      z-index: 1;
    }

    .comment-group::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      left: -10px;
      top: 6px;
    }

    // .comment-group:nth-of-type(10n + 1)::before {
    //   background-color: #ffdab9;
    // }
    // .comment-group:nth-of-type(10n + 2)::before {
    //   background-color: #a0522d;
    // }
    // .comment-group:nth-of-type(10n + 3)::before {
    //   background-color: #483d8b;
    // }

    .comment-group::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 3px;
      z-index: -1;
      width: 2px;
      height: calc(100% - 40px);
      background-color: #edeff1;
    }

    .comment {
      font-size: 14px;
    }

    .comment-details {
      .name {
        font-size: 12px;
        font-weight: 500;
        font-family: "IBM Plex Sans";
        margin-right: 4px;
        color: #1a1a1b;
      }

      .posted {
        position: relative;
        color: #7c7c7c;
      }

      .posted::before {
        content: "·";
        position: absolute;
        left: -7px;
        top: 0;
      }
    }
  }
}
