@import "css/meyer-reset.css";
@import "css/setup.css";
@import "css/structure.css";
@import "css/typography.css";

body {
  background-image: url("https://peprojects.dev/alpha-2/images/noise.webp");
  background-repeat: repeat;
}

label {
  display: block;
}

input,
textarea,
button {
  font-family: monospace;
  font-size: 16px;
}

.masthead {
  display: flex;
  align-items: center;
  gap: 30px;
}

.site-menu {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: black;
  color: white;

  gap: 15px;
  margin: 10px 0;
}

.site-menu a:hover {
  text-decoration: underline;
}

.site-header {
  border-top: 10px solid #111;
  border-bottom: 10px solid #111;
}

footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

form input,
form textarea {
  padding: 8px 12px;
}

form label {
  font-weight: 500;
  line-height: 1.1;
}

.comments-list li > * {
  line-height: 1.1;
}

.comment {
  line-height: 1.5;
}

.name {
  font-size: 12px;
  font-weight: 700;
}

.posted {
  color: #828282;
}

.comment-details {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.edit-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #828282;
}

.edit-details span:hover {
  text-decoration: underline;
}

.edit {
  position: relative;
}

.edit::before {
  content: "|";
  position: absolute;
  left: -8px;
}

.display-comments {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23252525' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.comment-group {
  background-color: #ffffff;
  max-width: 64ch;
  padding: 12px 16px;
  border: 1px solid #252525;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

footer {
  color: #ffffff;
  background-color: #000000;
}
